@font-face {
  font-family: DeathStar-VmWB;
  src: local("DeathStar-VmWB"), url(assets/fonts/DeathStar-VmWB.ttf);
  font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
  font-family: DeathStar-VmWB;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("assets/img/73f37cccb447202378844463c97f0e30.jpg") no-repeat;
  background-size: 100%;
  height: 100vh;
  transition: all 0.8s ease;
}
.select_episode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 900px;
}
input {
  border: none;
  border-radius: 5px 0px 0px 5px;
  height: 38px;
  width: 100px;
  font-weight: 700;
  font-size: 15px;
  color: #006089;
  text-align: center;
}
input:hover,
.select:hover {
  border: 3px solid #74c5e7;
  border-radius: 10px;
}
.select {
  width: 200px;
  outline: none;
  border: none;
  background-color: #eaeaea;
  color: #006089;
  font-size: 18px;
  font-weight: 600;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #74c5e7;
  transition: all 0.8s ease;
  margin-right: 30px;
  height: 40px;
}
.button {
  font-size: 20px;
  font-weight: 900;
  padding: 5px 40px;
  margin: 20px 0;
  height: 40px;
  width: 300px;
  background-color: #eaeaea;
  color: #006089;
  border: 1px solid #74c5e7;
  border-radius: 5px;
  transition: all 0.8s ease;
  text-decoration: none;
}
.select:hover,
.button:hover {
  background-color: #0595d3;
  color: #ffeded;
  border-color: #006089;
}
input,
.button,
.button:active,
.button:focus {
  outline: none;
}
.next {
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.people_item,
.planets_item {
  color: #015072;
  margin: 10px;
  width: 200px;
  text-align: center;
  justify-content: center;
  background-color: rgba(2, 15, 71, 0.144);
  transition: 1s;
}
.people_item:hover,
.planets_item:hover {
  background-color: rgba(2, 15, 71, 0.692);
  color: #cbedfc;
  transform: scale(1.2);
  box-shadow: 0 10px 22px rgba(58, 82, 92, 0.726),
    0 10px 10px rgba(0, 0, 0, 0.22);
}
.people_item {
  height: 350px;
}
.title {
  color: #ffeded;
  font-size: 400%;
  letter-spacing: 0.1em;
}
.title_items {
  display: flex;
  justify-content: center;
  color: #015072;
  font-size: 40px;
  letter-spacing: 0.2em;
}
img {
  width: 20px;
}
.image_items {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.image_item {
  width: 200px;
}
h3 {
  letter-spacing: 0.05em;
}
