body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("img/73f37cccb447202378844463c97f0e30.jpg") no-repeat;
  background-size: 100%;
  min-height: 400px;
}
button {
  font-size: 15px;
  font-weight: 700;
  padding: 10px 40px;
  margin: 30px 0;
  height: 50px;
  width: 300px;
  background-color: #eaeaea;
  color: #006089;
  border: 1px solid #74c5e7;
  border-radius: 30px;
  transition: all 0.8s ease;
  text-decoration: none;
}
button:hover {
  background-color: #0595d3;
  color: #ffeded;
  border-color: #006089;
}
button,
button:active,
button:focus {
  outline: none;
}
.people {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
img {
  display: none;
}
.people_item {
  color: #015072;
  margin: 20px;
  width: 200px;
  text-align: center;
}
.title {
  color: #ffeded;
  font-size: 400%;
}
